<link rel="stylesheet" href="https://unpkg.com/mvp.css"> 

<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
<!-- <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script> -->

<script src="/js/authentication.js"></script>
<script>
  auth.config({
    logined(tokens) {
      console.log(tokens);
    },
    parseTokens({
      access, refresh
    }) {
      return {
        access, refresh
      }
    },
    // refreshPath: '/auth/refresh' // option
  });

  // front에서 리턴
  auth.access$.subscribe(({
    isAuthorized, // : boolean
    tokens, // tokens?: {access: string, refresh: string}
    err, // err?: Error
  }) => {
    if (isAuthorized) {
      if (location.pathname === '/login') {
        location.href = '/'
      }
    } else {

    }
  });

  // auth.logout();
</script>