<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  {% include 'import/header.html' %}
</head>
<body>
  <header>
    {% include 'templates/nav.html' %}
  </header>

  <main>
    <section>
      <aside>
        <img src="/img/nodejs.svg" alt="nodejs logo" height="150"/>
        <h3>Node js</h3>
        <p></p>
      </aside>
      <aside>
        <img src="/img/nodejs.svg" alt="nodejs logo" height="150"/>
        <h3>Node js</h3>
        <p></p>
      </aside>
      <aside>
        <img src="/img/nodejs.svg" alt="nodejs logo" height="150"/>
        <h3>Node js</h3>
        <p></p>
      </aside>
      <aside>
        <img src="/img/nodejs.svg" alt="nodejs logo" height="150"/>
        <h3>Node js</h3>
        <p></p>
      </aside>
    </section>
  </main>
</body>
</html>