<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  {% include 'import/header.html' %}
</head>
<body>
  <header>
    {% include 'templates/nav.html' %}

    <h1>Taekksoolee. I am <sup>BEST</sup><u>Engineer</u></h1>
    <div>
      <a href="https://github.com/taeksoolee" target="_blank">
        <b>Github</b>
      </a>
      <a href="http://ts-lee.com" target="_blank">
        <i>ts-lee.com</i>
      </a>
  </header>

  <script></script>
</body>
</html>